<%- contentFor("main") %>
<div id="container">
    <h1>Sign Up</h1>
    <div id="inputs">
        <div class="inputLabelPair">
            <label for="username" id="labelU">Username</label>
            <input id="username" class="inputs" name="username" autofocus>
        </div>
        <div class="inputLabelPair">
            <label for="password" id="labelP">Password</label>
            <div id="passwordEye">
                <input id="password" class="inputs" name="password" type="password">
                <img src="eyecon.png" id="eye">
            </div>
        </div>
    </div>
    <button id="submit">Create Account</button>
    <div id="signUpPromo">
        <span>Already have an account? Click </span>
        <a href="/" id="a"> HERE </a>
        <span> to sign in</span>
    </div>
    <div id="warning"></div>
    <script src="signUp.js"></script>
</div>
